body{
  margin:0;
}
.top_container{
  background: #f6f6f6;
  height: 75px;
  margin-top: 0;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;

}
.top_container h2{
  margin: 0;
  padding-top: 16px;
  padding-left: 20px;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  background: #f6f6f6;
  margin-left: 40px;
  margin-right: 40px;
}
.container h2{
  padding-left: 20px;
  padding-top: 30px;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
form label{
  padding-left: 20px;
  font-weight: bold;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
}
.row1{
  overflow: auto;
  margin-bottom: 10px;
}

.first{
  float: left;
  padding-left: 20px;
}
.first input{
  margin-left: 0;
}
.last{
  float: left;
  padding-left: 10px;
}
.row2{
  margin-top: 10px;
  margin-bottom: 10px;
}
.row2 input{
  margin-left: 20px;
  margin-bottom: 10px;
}
#id_email{
  width: 149px;
}
textarea{
  display: block;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 320px;
  height: 200px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.submit{
  padding-bottom: 25px;
}
.submit input{
  margin-left: 20px;
  height: 25px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  order: 1px solid #ccc;
  border-bottom-color: #bbb;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: middle;
}
.first input, .last input, .row2 input{
  height: 25px;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 3px;
}
